body,nav,header, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    
}



header img {
    position: absolute;
    top: 0;
    left: 0;
}




header{
    position:static;
    padding:80px;
    background-color:white;
    
}

header h2 {
    
    text-align: center;
    font-family: "Playwrite GB S", cursive;
    font-size: 2.7em;
    color:cadetblue;
}

header img{
    display:block;
    margin:auto auto;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    
}


nav ul {
    
    list-style-type: none;
    text-align: center;
    background-color:white;
}

nav li {
    display:inline-block;
    font-size: 1.8em;
    font-family: "Playwrite GB S", cursive;
    border-top: 1px solid saddlebrown;
    
}

nav li a{
    display:block;
    color:skyblue;
    text-align:center;
    padding:1em 1em 1em 1em;
    text-decoration:none;
}



main {
    clear: left;
    background-color: whitesmoke;
    
    font-family: "Playwrite GB S", cursive;
    color: black;
}



#introduction {
    background-image: url("images/AdobeStock_139121490.jpeg");
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 350px;
    text-align:right;
    
}

#introduction a {
    display: inline-block; 
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 14px; 
    font-weight: bold; 
    transition: background-color 0.3s ease;
}

#gallary {
    display: inline-block;
    object-fit: cover;
    
}

#heading {
    margin-bottom: 20px;
    margin-top: 20px;
}

#gallary img {
    width: 33%;
    height: 33%
}


#physical_examination, #vaccinations, #parasite_control, #dental_checkup, #nutritional_guidance, #blood_test {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 20px; 
}

.content {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between; 
    align-items: flex-start;
}

#image_three {
    background-image: url("images/AdobeStock_625973309.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    text-align: right;
}

#image_four {
    background-image: url("images/AdobeStock_308338875.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    text-align: right;
}

.tel-link a {
    color: rosybrown;
    text-decoration: none;
    font-size: 1.8em;
}

#contact h2 a{
    color:sandybrown;
    text-decoration:none;
    font-size:1.8em
}

#any_question{
    
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px;
    
}


footer {
    text-align: center;
}